.aboutContainer
{
	margin-top:-42px;
	padding-top: 98px;
	
	box-sizing: border-box;
	
	padding-bottom: 400px;
	
}


.aboutHero
{
	width:100%;
	background-image:url('/img/DSC_2679.jpg');
	background-size: cover;
	height: 100vh;
    position: absolute;
	background-repeat:no-repeat;
	
	background-position: left 50% top 0px;

}

@media only screen and 
(max-width: 1500px)
{
	.aboutHero
	{

		background-position: left 74% top 0px;
	}
}

@media only screen and 
(max-width: 1100px) and 
(min-height: 700px) and 
(max-height: 900px)
{
	.aboutHero
	{

		background-position: left 74% top 0px;
	}
}

@media only screen and 
(max-width: 600px)
{
	.aboutHero
	{

		background-position: left 82% top 0px;
	}
}


.aboutWhiteCover
{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .6;
    overflow: hidden;
	
}

.aboutWhiteCover > div:nth-child(1)
{
	width: 75%;
    height: 200%;
    background-color: #B0BEC5;
    position: absolute;
    top: -20%;
    left: -20%;
    transform: rotate(-16deg);
	
	@media only screen and (max-width: 800px)
	{
	width: 85%;
	}
	
	@media only screen and (max-width: 800px)
	{
	width: 110%;
	}
	
	@media only screen and (max-width: 359px)
	{
	width: 115%;
	}
}

.aboutText
{
	position: absolute;
	top:0;
	bottom: 0;
	margin: auto;
	
	display:table;
	vertical-align: middle;

	@media only screen and (max-width: 1100px)
	{
	right:50%;
	}
	
	@media only screen and (max-width: 900px)
	{
	width: 45%;
	right: 45%;
	}
	
	@media only screen and (max-width: 600px)
	{
    width: 80%;
    right: 15%;
	top:20%;
	}
	
	@media only screen and (max-width: 359px)
	{
	width: 85%;
    right: 10%;
	top:20%;
	}
	
}

.aboutHead
{
	position: relative;
    color: white;
    font-size: 100pt;
    font-weight: 300;
    text-indent: -8pt;
	
	@media only screen and (max-width: 1100px)
	{
	font-size: 70pt;
	}
	
	@media only screen and (max-width: 900px)
	{
	font-size: 60pt;
	}
	
	@media only screen and (max-width: 600px)
	{
	font-size: 50pt;
	text-indent: -2pt;
	}
}

.aboutSubhead
{
	position: relative;
    color: white;
    font-size: 30pt;
    font-weight: 300;
	
	@media only screen and (max-width: 900px)
	{
	font-size: 24pt;
	}
	
	@media only screen and (max-width: 600px)
	{
	font-size: 20pt;
	font-weight: 200;
	}
	
	@media only screen and (max-width: 359px)
	{
	font-size: 18pt;
	font-weight: 200;
	}
}

.aboutPC
{
	position:absolute;
	bottom:0;
	right:10px;
	color: white;
	font-size: 12pt;
	opacity:.5;
}


.aboutIntro
{
	margin-top: 100vh;
	padding: 40px;
	box-sizing: border-box;
}

.FAQs
{
	background-color: #ECEFF1;
	
	padding: 60px;
	margin-bottom: 100px;
}

.FAQsContent
{

    padding: 40px;
    box-sizing: border-box;
	}

.FAQs .largeHeading
{
	font-size: 24pt;
	text-align:center;
	margin-bottom: 40px;
}

.FAQsQuestions > a
{
	display:block;
	
	font-size: 16pt;
	font-weight: 300;
	letter-spacing: -.4pt;
	
	line-height: 20pt;
	margin-bottom: 20px;
	
	@media only screen and (max-width: 600px)
	{
	font-size: 14pt;
	line-height: 18pt;
	}
}


.FAQsQuestions > a
{
	color:#d84315;
	text-decoration:none;
}


.FAQsQuestions > a:visited
{
	color: #BF360C;
}

.FAQsQuestions > a:hover,
.FAQsQuestions > a:active
{
	color: #F4511E;
}
