
.iconer .back 
{	
	opacity:0.075;	
	z-index: 200;
}

.iconer.selected .back,
.iconer.selected .name
{	
	opacity:0;	
}
.iconer.selected .iconerClip:hover .name
{	
	opacity:1;	
}

.iconer .front 
{	
	opacity:0;
	z-index: 400;
}
.iconerClip:hover .front
{	opacity:1 !important;	}
.iconer.selected .front 
{	opacity:.6;	}


.iconerClip
{
	position:relative;
	width:0px;
	height:0px;
	
	border-radius:100px;
}

.iconerClip img
{
	width:130px;
	position:absolute;
	
	/* can't justify-content, ie sucks */
	margin-top:-65px;
	margin-left:-65px;
	
	transition: .5s 0s all ease-in;
	
	image-rendering: -webkit-optimize-contrast;
}

.iconerClip .name
{
	position: absolute;

	/* cool but nah 
		margin-left:15px;
		margin-top:10px;
	*/
	
	width:130px;
	
	top:0px;
	left:0px;
	
	line-height: 130px;
	
	text-align:center;
		
	
	font-size: 15px;
	font-weight: 400;
	color: rgba(0, 0, 0, .5);
	align-self:center;
	white-space:nowrap;
	
	text-transform: lowercase;
	
	z-index: 300;
	
	transition: .3s all ease-in-out ;
	
	margin-top:-65px;
	margin-left:-65px;
}


