.navButtons
{
	position:fixed;
	bottom: 10px;
	right:10px;
	
	width: 80px;
	height: 160px;
	
	background-color: rgba(0,0,0,.4);
	border: 1px solid rgba(0,0,0,.1);
	
	z-index: 5;
	
	@media only screen and (max-width: 600px)
	{
	width: 60px;
	height: 120px;
	}
	
	.button
	{
		width:100%;
		height: 80px;
		
		line-height: 80px;
		text-align:center;
		
		color: white;
		
		@media only screen and (max-width: 600px)
		{
		height: 60px;
		line-height: 60px;
		}
	}
	
	>.toTop:extend(.navButtons .button)
	{
		font-family:"FontAwesome";
	}
	
	>.toFAQs:extend(.navButtons .button)
	{
		font-size: 20px;
		font-weight: 300;		
		
		@media only screen and (max-width: 600px)
		{
		font-size: 16px;
		font-weight: 300;
		}
	}
	
	
	>.toTop:hover,
	>.toFAQs:hover
	{
		background-color: rgba(255, 255, 255, .5);
	}
	
	
	>.toTop:active,
	>.toFAQs:active
	{
		background-color: rgba(255, 255, 255, .3);
	}
}




