@navLinkTextColor: #555555;
@textHeight: 20px;

@navLinkTextColorSelected: #607D8B;

.navLinkText
{
	color: @navLinkTextColor;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 16px;
	line-height: @textHeight;
	
	opacity: 0.8;
}

.navLinkTextSelected
{
	color: @navLinkTextColorSelected;
	font-weight: 400;
	text-decoration: line-through;
	opacity: 0.8;
}

.navLogoImg
{
	height: 20px;
	opacity:.8;
}




/*        
	N     N   AAA   V     V     BBBBBB    AAA   RRRRRR
	N N   N  A   A  V     V     B     B  A   A  R     R
	N  N  N AAAAAAA V     V     BBBBBB  AAAAAAA RRRRRR
	N   N N A     A  V   V      B     B A     A R     R
	N     N A     A   VVV       BBBBBB  A     A R     R
*/


.navBar
{
	height: 20px;
	padding: 18px 0px;
	position: absolute;
	
	width:100%;
		
	z-index: 9000;
	
	.navLogo:extend(.navLogoImg)
	{
		float: left;
		
		transition: .5s 0s all ease-in-out;
		
		&:hover
		{
			opacity: 1;
			transform:scale(1.1);
		}
	}
	
	.navLink:extend(.navLinkText)
	{
		float: right;
		margin-left:24px;
		
		transition: .3s 0s all ease-in-out;
		
		&:hover
		{
			opacity: 1;
			transform: translateY(-2px);
		}
		
		&.selected:extend(.navLinkTextSelected) {}
	}
}


@padding: 18px;
@navBarHeight: 56px;
@navLinkHeight: 36px;
@navFooterTextHeight: 26px;
@navFooterPadding: 10px;

@navBarBackgroundColor: #fafafa;

.textCenter {text-align:center};

.navBarMobileClip
{
	position:fixed;
	top:0;
	
	width:100%;
	height: @navBarHeight;
	
	overflow: hidden;
	z-index: 9000;
	
	border-bottom: 1px solid rgba(0,0,0,.1);
	transition: .3s height ease-in-out;
	
	backface-visibility: hidden;
	
	.navBarMobile
	{
		display: flex;
		flex-flow: column nowrap;
		
		background-color: @navBarBackgroundColor;
		
		position: relative;
		z-index: 1;
		
		.navLogoPage
		{
			display:block; /* text-align */
			flex: 0 0 auto; // 100% is bug in ie10-11
			
			height: @navBarHeight;
			line-height: @textHeight;
			text-align: center;
			padding: @padding;
			
			box-sizing: border-box;
			
			.navHamburger
			{
				float:right;
				
				height: 20px;
				width: 2px;
				padding: 0 10px;
				
				position:relative;
			}
			
			.navLogo:extend(.navLogoImg) 
			{
				float: left;
			}
			
			.navSelectedPage:extend(.navLinkText)
			{
				position:absolute;
				left: 0; right: 0; 
				margin: auto;
			}
		}
		
		.navLinks
		{
			padding: @padding;
			border-top: 1px solid rgba(0,0,0,.1);
			.navLink:extend(.navLinkText) 
			{
				height: @navLinkHeight;
				line-height: @navLinkHeight;
				text-align: center;
			}
			
			.navLink.selected:extend(.navLinkTextSelected) 
			{
				opacity: 0.2;
			}
			
		}
		
		.navFooter:extend(.navLinkText)
		{
			background-color: @navLinkTextColorSelected;
			padding: @navFooterPadding 0;
			
			>div:extend(.navLinkText)
			{
				color: white;
				text-transform: none;
				height: @navFooterTextHeight;
				line-height: @navFooterTextHeight;
				text-align: center;
				
				.copy
				{
					vertical-align: middle;
				}
			}
		}
	}
	
	@navBarFullHeight: @navBarHeight + @padding*2 + @navLinkHeight*3 + @navFooterTextHeight*3 + @navFooterPadding*2;
	
	&.expanded
	{
		height: @navBarFullHeight;
	}
	
	.overlay
	{
		display:none;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		background-color: black;
		opacity: 0.4;
		
		animation: fadeMe 0.3s ease-in-out;
		
		backface-visibility:hidden;
	}
	

}

@keyframes fadeMe
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 0.4;
	}
}


.hamburger
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	
	position:absolute;
	height: 100%;
	
	.line
	{
		box-sizing: border-box;
		border:2px solid @navLinkTextColor;
		border-radius: 1px;
	}
	
}


