.cardRadius()
{
	border-radius: 4px;
}

.portfolioCard
{
	background-color: rgba(255, 255, 255, 0.9);
	border:1px solid #eeeeee;
	.cardRadius();
	
	width: 250px;
	
	padding: 18px;
	
	margin-bottom: 16px;
	margin-right: 16px;
	
	cursor: pointer;
	
	transition: .3s 0s all ease-in;
	
	div
	{
		transition: .3s 0s all ease-in;
		opacity:0.9;
	}
	
	>.cardImgSizer
	{
		height: 160px;
		width:100%;

		position:relative;
		
		>.cardImg
		{
			height:100%;
			width: 100%;
			
			position:absolute;
			top: 4px;
			left: 5px;
			
			background-position: 50% 55%;
			background-size: contain;
			
			image-rendering: -webkit-optimize-contrast;

			.cardRadius();
		}
		
		>.cardImgBorder
		{
			border: 1px solid rgba(0,0,0,.2);
			.cardRadius();
			
			height:100%;
			width:100%;
			
			position:absolute;
			top: 0;
		}


	}
	
	.subText()
	{
		color: #757575;
	}
	
	>.cardTitle
	{
		font-size: 15px;
		letter-spacing: -.5px;
		margin: 12px 0px 6px;
		.subText();
	}

	>.cardSub1,
	>.cardSub2
	{
		font-size:13px;
		.subText();
	}

	.subTextHover()
	{
		color: #333333;
	}
	
	&:hover
	{
		background-color: white;
		
		div
		{
			opacity:1;
		}
		
		>.cardTitle,
		>.cardSub1,
		>.cardSub2
		{
			.subTextHover();
		}

	}


}





