.skipNav
{
	padding-top: 56px;
}

.propagateHeightDown
{
	display:flex;
	flex: 1 0 auto;
	min-height: 100%;
}

.constrainRepaintArea
{
	backface-visibility: hidden;
}

@keyframes fadeIn 
{
	0% 
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}


@keyframes fadeOut
{
	0% 
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}


.portfolioContainer:extend(.propagateHeightDown)
{
	min-height: 100%;
	width: 100%;

	background-color: #fafafa;
	
	flex-flow: row nowrap;
	
	@media only screen and (min-width: 601px)
	{
		margin-top:-73px; /* accounts for .centered */
		flex-flow: column nowrap;
	}
	
	.portfolio
	{
		box-sizing:border-box;
		height:100%;
		
		.holdsIcons
		{
			position: absolute;
			/*http://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height
			*/
			left:0px;
			min-height:100%;
			width: 100%;
			
			/* ^ may not be needed */
			float:left; /* out of flow but keep height */
			
			margin-top:-60px;
			
			transition: .4s all ease-in-out;
			
			.iconer
			{
				position:absolute;
				transition: .5s all ease-in-out;
				
				/* really only works for text in ie */
				display:flex;
				/* doesn't work in ie
					justify-content:center;
				*/
				align-items:center;
				
				height: 100%;
				margin-top:0px;
				margin-left: 0;
				
				.iconerChildren(@n, @i: 1) when (@i =< @n) 
				{
					&:nth-child(@{i}) 
					{
						margin-left: (@i / 6 * 100%);
						transition-duration:(.30s + @i * .02s);
					}
					.iconerChildren(@n, (@i + 1));
				}
			
				.iconerChildren(5);
				
				&:hover .name
				{
					top:-86px;
					left: 0;
				}
			}
			

		}
		
		.holdsContentClip
		{
			/* due to IE forcing holdsIcons to be absolute to have correct height */
			-position: absolute; /* for correct min-height */
			/* ^ re-check */
			position: relative;
			right: 0;
			
			width:0;
			min-height: 100%;
			margin-left: 40px; /* as holdsIcons is absolute now */
			
			float:right; /* out of flow but keep height */
			transition: .5s width cubic-bezier(0.770, 0.000, 0.175, 1.000) ;
			
			background-color: #fafafa;
			
			overflow: hidden;
			
			@media only screen and (max-width: 1100px)
			{
				width: 640px !important;
			}
			
			@media only screen and (max-width: 800px)
			{
				width: 440px !important;
			}
			
			.holdsContent
			{
				width: 974px;
				margin-right:-14px;
				box-sizing:border-box;
				display:flex;
				flex-flow: row wrap;
				align-items: flex-start;
				
				transition: .5s all cubic-bezier(0.770, 0.000, 0.175, 1.000) ;
				
				padding: 0;
				
				@media only screen and (max-width: 1100px)	
				{
					width: 674px;
				}
				
				@media only screen and (max-width: 800px)
				{
					width: 474px;
				}				
			}
		}
		
		&.selected
		{

			.holdsIcons
			{
				width: 40px;
				
				.iconer
				{
					margin-left: 20px;
					height: 0%;
					
					.iconerChildren(@n, @i: 1) when (@i =< @n) 
					{
						&:nth-child(@{i}) 
						{
							margin-top: (@i * 150px);
						}
						.iconerChildren(@n, (@i + 1));
					}
				
					.iconerChildren(5);
					
					&:hover .name
					{	
						top: 0;
						left:-110px;
					}
				}
					
			}

			.holdsContentClip
			{
				width: 960px;
				z-index: 350;
			}

			.holdsContent
			{
				padding: 20px 0px 0px 60px;
			}

		}
	}
	
	.portfolioMobile:extend(.propagateHeightDown, .skipNav, .constrainRepaintArea)
	{
		box-sizing: border-box;
		flex-flow: column nowrap;
		
		.icons:extend(.propagateHeightDown, .constrainRepaintArea)
		{
			min-height: 100%;
			-max-height: 100%;
			position:absolute;
			left:0;
			right: 0;
			top: 56px;
			bottom: 0px;
			margin: 0 auto;
			
			transform:translateY(-56px);
			
			.swipeable:extend(.propagateHeightDown, .constrainRepaintArea)
			{
				box-sizing:border-box;
				
				padding-left: calc(~"(100vw - (100vw * 0.15)) / 4");
				padding-right: calc(~"(100vw - (100vw * 0.15)) / 4");
				
				transform:translateZ(0);
				
				.react-swipeable-view-container:extend(.propagateHeightDown)
				{
					min-height: 100%;
					
					.slide:extend(.propagateHeightDown)
					{
						padding: 0 20px;
						box-sizing:border-box;
						
						/* investigate why this is an issue */
						
						@media only screen and (max-width: 349px)
						{
						padding: 0 10px;
						}
						
						@media only screen and (max-width: 307px)
						{
						padding: 0 0px;
						}
					
						.slideContent:extend(.propagateHeightDown)
						{
							align-items: center;
							width: 100%;
							justify-content: center;
						
						}
					}
				
				
				}
			}
					
		}
		
		.paginator
		{
			position:absolute;
			
			z-index: 1000;
			
			bottom: 40px;
			right: 10px;
			
			animation-name: fadeIn;
			animation-duration: .2s;
			animation-fill-mode: both;
		}
		
		.cardsClip
		{
			width:100%;
			
			overflow: hidden;
			transition: 0s .4s max-height ease-in;
			max-height: 0px;
			transform:translateY(0px);
		}
		
		&.selected
		{
		
			.icons
			{
				transform:translateY(-50%);

				.swipeable
				{
					box-sizing:border-box;
					
					padding-left: 0;
					padding-right: 0;
				}
			}
			
			.cardsClip
			{		
				max-height: 10000%;
				transform:translateY(100px);
				padding-bottom: 100px;

				.cards
				{	
					display:flex;
					flex-flow: column nowrap;
					flex: 1 0 auto;
					
					padding: 20px;
					
					@media only screen and (max-width: 327px)
					{
					padding: 20px 10px;
					}
					
					@media only screen and (max-width: 307px)
					{
					padding: 20px 0px;
					}
					
					align-items:center;
					
					.portfolioCard
					{
						margin-bottom: 20px;
						margin-right: 0;
					
					}
				
				}
			}
			
		
		}
		
		&.projectSelected
		{
			position:absolute;
			width: 100%;
		}
		

	
	}
	

	

}

.iconerClip2
{
	position:relative;
	
	width: 0;
	height: 160px;
	
	>img
	{
		width:130px;
		position:absolute;
		
		/* can't justify-content, ie sucks */
		margin-left:-65px;
		
		transition: .5s 0s opacity ease-in;
		
		image-rendering: -webkit-optimize-contrast;
		
		&.back
		{
			opacity: .2;
			
			z-index: 200;
		
			.current&
			{
				opacity: 0;
			}
		}
		
		&.front
		{
			opacity: 0;
			
			z-index: 400;
			
			.current&
			{
				opacity: 1;
			}
		}
	}
	
	.name
	{
		position: absolute;

		/* cool but nah 
			margin-left:15px;
			margin-top:10px;
		*/
		
		width:130px;
		
		bottom:0px;
		left:0px;
	
		
		text-align:center;
			
		
		font-size: 15px;
		font-weight: 400;
		color: rgba(0, 0, 0, .5);
		align-self:center;
		white-space:nowrap;
		
		text-transform: lowercase;
		
		z-index: 300;
		
		margin-left:-65px;
	}



}

.projectClip
{

@media only screen and (max-width: 600px)
{
	.skipNav();
	margin-top: 0;
	width: 100%;

}


}

