.fastFacts 
{

	.section { margin-bottom: 60px; }

	ul
	{
		padding: 0;
		list-style-type: none;
		
		li
		{
			font-size: 13pt;
			line-height:18pt;
			font-weight: 300;

			letter-spacing: -.5px;
			
			color: rgba(66, 66, 66, .7);
		
			-webkit-font-smoothing: subpixel-antialiased;
			
			&:before { content: "- "; }
		}
		
		&.deliverables
		{		
			li:before { content: "["; }
			li:after { content: "]"; }
		}
	}
	
	h4 { padding-bottom: 10px; }
	
	a:hover:after
	{
		content: "\00A0\00A0\f08e";
		font-family: "FontAwesome";
		
		font-size: 12pt;
		line-height:18pt;
	}
}


.fastFacts a,
.fastFactsResponsive a,
.narrativeText a
{
	color:#d84315;
	text-decoration:none;
}

.fastFacts a:visited,
.fastFactsResponsive a:visited,
.narrativeText a:visited
{
	color: #BF360C;
}

.fastFacts a:hover,
.fastFacts a:active,
.fastFactsResponsive a:active,
.fastFactsResponsive a:active,
.narrativeText a:hover,
.narrativeText a:active
{
	color: #F4511E;
}

@fastFactsSectionPadding: 10px 0px;
@backgroundColor: #eceff1;

@fastFactsTitlePaginator2Height: 104px;
@fastFactsPaddingTop: 40px;
@fastFactsPaddingBottom: 40px;

@fastFactsSectionPaddingTop: 10px;
@fastFactsSectionPaddingBottom: 10px;

.fastFactsResponsive
{
	background-color: rgba(236, 239, 240, .7);
	position: relative;
	padding: 40px 0px;
	margin:0;
	backface-visibility: hidden;
	
	@media only screen and (max-width: 600px)
	{
	
	width:100%;
	padding: 0;
	
	}
	
	.title
	{
		text-align:center;
		
		display:flex;
		flex-flow: column nowrap;
		
		padding: @fastFactsSectionPadding;
		
		@media only screen and (max-width: 600px)
		{
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			/* height is 104px */
			
			top: (@fastFactsPaddingTop);
		}
		
		.paginator2
		{
			margin: 6px auto;
			
			z-index: 4;
		}
		h2
		{
			margin-bottom: 0;
		}
		
		img
		{
			position: absolute;
			top: -40px;
			transform: translateY(-50%);
			left: 0; right: 0;
			margin: auto;
			
			width: 96px;
			height: 96px;
			
			opacity: 0.4;
			
			z-index: 3;
		}
	}
	
	>.content
	{
		padding: @fastFactsSectionPadding;
		
		@media only screen and (max-width: 600px)
		{
		padding: 0;
		}
		
		.slide .section
		{
			@media only screen and (max-width: 600px)
			{
			
			box-sizing: border-box;
			padding-top: (@fastFactsTitlePaginator2Height + @fastFactsPaddingTop + @fastFactsSectionPaddingTop);
			padding-bottom: (@fastFactsPaddingBottom + @fastFactsSectionPaddingBottom*5);
			/* x1 for content, +x2 for footer, +x2 just for extra*/
				
			}
		}

	}
	
	.fastFactsFooter
	{
		padding: @fastFactsSectionPadding;
		
		@media only screen and (max-width: 600px)
		{
		padding: 0;
		}
	}
	
	.page
	{
		display:flex;
		flex-flow: row wrap;
		
		@media only screen and (min-width: 601px)
		{
			padding-left: 210px;
		}
		
		@media only screen and (max-width: 600px)
		{
			align-items:center;
			flex-flow: column wrap;
		}

		
		
		@media only screen and (max-width: 1100px)
		{
			padding-left: 0px;
		}
		
		@media only screen and (max-width: 800px)
		{
			justify-content:center;
		}
		
		box-sizing:border-box;
	
	}
		
	.section
	{
		min-width: 200px;
		max-width: 270px;
		
		display:flex;
		flex: 1 1 auto;
		
		flex-flow: row nowrap;
		
		@media only screen and (min-width: 601px)
		{
				
		margin: 0 30px;
		margin-bottom: 60px;
		
		}
		
		@media only screen and (max-width: 600px)
		{
		
		margin: auto;
			
		}
		
		.sectionImg
		{
			display:flex;
			width: 48px;
			height: 48px;
			padding-right: 20px;
			padding-top: 4px;
			
			opacity: 0.8;
		}
		
		.content
		{
			display:flex;
			flex-flow: column nowrap;
			
			h3
			{
				margin-bottom: 14px;
			}
		}
		

		ul
		{
			padding-left: 0px;
			list-style-type: none;
			margin: 0;
			
			li
			{
				padding-bottom: 6px;
				color: rgba(0,0,0,.4);
				font-size: 13pt;
			}
		}
		
		&.centered
		{
			justify-content: center;
			
			.sectionImg
			{
				padding: 0;
			}
			
			.content
			{
				text-align: center;
				align-items: center;
				
				h3
				{
					margin-bottom: 20px;
				}
			}
		}
		
		
	}





}

