@fastFactsSectionPadding: 10px 0px;
@backgroundColor: #eceff1;

@fastFactsTitlePaginator2Height: 104px;
@fastFactsPaddingTop: 40px;
@fastFactsPaddingBottom: 40px;

@fastFactsSectionPaddingTop: 10px;
@fastFactsSectionPaddingBottom: 10px;

.navigatorFloating
{
	background-color: rgba(0, 0, 0, .015);
	position: relative;
	padding: 40px 0px 0 0;
	-margin: 20px 0px 100px 0px;
	
	backface-visibility: hidden;
	
	position: absolute;
	width: 100%;
	
	-margin-top: 100px;
	.title
	{
		text-align:center;
		
		display:flex;
		flex-flow: column nowrap;
		
		padding: 10px 0 50px 0;
		
		
		h2
		{
			margin-bottom: 0;
		}
		
		img
		{
			position: absolute;
			top: -40px;
			transform: translateY(-50%);
			left: 0; right: 0;
			margin: auto;
			
			width: 96px;
			height: 96px;
			
			opacity: 0.4;
			
			z-index: 3;
		}
	}
	
	.contentClip
	{
		overflow:hidden;
		
		transition: height 0.35s cubic-bezier(0.15, 0.3, 0.25, 1)
	}
	
	.content
	{
		padding: 0;
		
		text-align:center;
		
		.navigatorHead
		{
			padding: 0;
			
			font-size: 15pt;
			font-weight: 400;
			
			a
			{
				display: block;
				padding: 16px 0px !important;
				&:hover { color:#009688; }
			}
		
		
		}
		
		.navigatorHr hr
		{
			border: 0;
			height: 40px;
		}
		
		.navigatorEntry
		{
			padding: 0;
			
			a
			{
				display: block;
				padding: 8px 0px !important;
				font-size: 13pt;
				
			&:hover { color:#009688; }
			}

			&.selected
			{			
				a
				{
					-font-size: 14pt;
					font-size: 14pt;
					-color:#009688;
					color: #616161;
					font-weight: 300;
				

				}
			}
		}
		
	}
	
	.fastFactsFooter
	{
		padding: @fastFactsSectionPadding;
		
		text-align:center;
		
		opacity: 0.4;
		
		img
		{
			width: 64px;
			height: 64px;
			
			transition: transform 0.3s ease-in-out;
			
			&.flipped
			{
				transform: rotateX(180deg);
			}
		}
		
		div
		{
			margin-top: -20px;
		}
	}
	
	.page
	{
		display:flex;
		flex-flow: row wrap;
		
		@media only screen and (min-width: 601px)
		{
			padding-left: 210px;
		}
		
		@media only screen and (max-width: 600px)
		{
			align-items:center;
			flex-flow: column wrap;
		}

		
		
		@media only screen and (max-width: 1100px)
		{
			padding-left: 0px;
		}
		
		@media only screen and (max-width: 800px)
		{
			justify-content:center;
		}
		
		box-sizing:border-box;
	
	}
		
	




}

