.navigator
{
	background-color: #f5f5f5;
	border: 1px solid #CFD8DC;
	border-radius: 2px;
	
	padding: 8px 8px 8px 8px;
	margin: 0 30px 0 0;
	
	text-align:right;
	
	/* arrow needs a parent */
	position: relative;
	
	
}

.navigatorTitle
{
	font-size: 14pt;
	line-height: 22pt;
	font-weight: 400;
	letter-spacing: -.5px;
	display: block;
	color: #616161;
	
	margin-bottom: 10px;
}


.navigatorEntry
{
	font-size: 11.5pt;
	line-height: 13pt;
	font-weight: 300;
	letter-spacing: -.5px;
	display: block;
	color: #616161;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	
	&.selected,
	a:visited
	{
		font-weight: 400;
		color: #424242;
	}
	
	a
	{
		text-decoration:none;
		color: rgba(55, 71, 79, .8);
		
		&:hover
		{
		color:#d84315;
		}
	}
	
	
}

.navigatorHead:extend(.navigatorEntry all)
{
	font-size: 12pt;
	font-weight: 400;
	line-height: 20pt;


}

.navigatorHr
{
	padding: 10px 0;
	
	hr
	{
		border: 1px dashed rgba(0,0,0,.04);
		margin: 0;
		margin-left: 30px;
	}

}
