.loadingPage
{
	position:fixed !important;
	height:100% !important;
	width: 100% !important;
	
	background-color: #f5f5f5 !important;
	
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:center;
	
	img
	{
		flex: 0 0 auto;
		

		height: 120px;
		opacity: 0.3;

	}
}


html
{
	height:100%;
	position:relative;
	@media only screen and (min-width: 601px)
	{
		min-height: 870px;
	}
}


body, #app, #app > div
{
	margin:0;
	font-family: 'Fira Sans', sans-serif;
	
	min-height: 100%;
	height: 1px;
	
	background-color: #fafafa;
}

#app > div, #app > #root
{
	position:absolute;
	width:100%;
}

.page
{
	width: 1000px;
	margin: auto; 
	
	
	@media only screen and (max-width: 1100px)
	{
		width: 680px;
	}

	@media only screen and (max-width: 800px)
	{
		width: 480px;
	}
	
	@media only screen and (max-width: 600px)
	{
		width: 100%;
	}
}





.clickable
{
	cursor:pointer !important;
}




/*================*/

.fullOverlay
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
	text-align:center;
	
	z-index: 9001;
	
	transition: .5s 0s all ease-in-out;
}

.fullOverlay.gone
{
	opacity: 0;
}

.introLogo
{
	position:absolute;
	top: 0; bottom: 0; right: 0; left: 0;
	margin: auto;
	
	width: 260px;
		
	image-rendering: -webkit-optimize-contrast;
}

.introText
{
	position: absolute;
	height:100%;
	top: 50%; right: 0; left: 0;
	margin: auto;
	margin-top: 70px;
	
	font-size: 18px;
	color: #757575;
	font-weight: 300;
}


/*=========*/

.fullHeight
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin:auto;
	
	/* min-heighted actually doesn't set a height */
	
	min-height: 100%;
}

.fullHeight.lightGrey
{
	background-color: #fafafa;
}

.main
{
	flex-wrap: wrap;
	transition: 1s all ease-in;
}

.main.selected
{
	width: 200px;
	flex-wrap: wrap;
}

.greyBox
{
	flex-grow: 1;
	flex-shrink: 1;
	width:100%;
-	height:100%;

	min-width: 200px;
	
	
	transition: .5s 0s all ease-in;
}

.greyBox.gone
{
	width: 0;
}

.whiteBox
{
	flex-grow: 0;
	flex-shrink: 0;
-	height:100%;
	width:0px;
	overflow:visible;
	z-index:100;
	align-items: center;
	
	justify-content: center;
	
	background-color: #fafafa;
	
	transition: .5s 0s all ease-in;
	
	position: relative;
}

.whiteBox.selected
{
	width: 500px;
}

.categoryImg
{
	height:130px;
	
	transition: .5s 0s all ease-in;

	
	justify-content: center;
}

.categoryImg.selected
{
	height: 180px;
	box-sizing: border-box;
}

.categoryImg.selected > img
{
	width: 180px;
}

.categoryImg.selected > .back
{
	opacity: 0;
}

.categoryImg.selected > .front
{
	opacity: .05 !important;
}



.categoryImg > img
{
	width: 130px;
	position:absolute;
	transition: .5s 0s all ease-in;
	margin-right:-4px;
	
	image-rendering: -webkit-optimize-contrast;
}

.categoryImg > .back
{
	opacity:0.05;
}

.categoryImg > .back:hover
{
	display:none;
}

.categoryImg > .front
{
	opacity:0;
}

.categoryImg > .front:hover
{
	opacity:1;
}

.categoryText
{
	font-size: 15px;
	font-weight: 400;
	color: rgba(0, 0, 0, .9);
	align-self:center;
	white-space:nowrap;
	
	text-transform: lowercase;
}

.categoryText.selected
{
	opacity: 0;
}


.flexContainer
{
	display: flex;	
}

.flexRow
{
	flex-flow: row;
}

.flexColumn
{
	flex-flow: column;
}


.displayOver
{
	position: absolute;
}

/* The animation code */
@keyframes fadeIn {
    from {opacity: 0;
			transform:translateY(-100px);}
    to {opacity: 1;
		transform:translateY(0px);}
}

/* The element to apply the animation to */
.transition {
    animation-name: fadeIn;
    animation-duration: .5s;
	animation-fill-mode: both;
}

.transition.delay1 {  animation-delay: .35s !important; }

.transition.delay2 {  animation-delay: .4s !important; }

.transition.delay3 {  animation-delay: .45s !important; }

.transition.delay4 {  animation-delay: .5s !important; }

.transition.delay5 {  animation-delay: .55s !important; }

@keyframes fadeUp {
    from {opacity: 0;
			transform:translateY(60px);}
    to {opacity: 1;
		transform:translateY(0px);}
}


.transition.reverse
{
	animation-name: fadeUp;
	animation-delay: .3s;
}







/*==========*/

/*
.cards
{
	top: 0px;
	
	width:500px;
	
	margin-top:70px;
	position:absolute;
	
	display:flex;
	flex-flow: column;
}
*/

@keyframes curtains 
{
    from 
	{
		width:0px;
	}
    to 
	{
		width: 100%;
	}
}

.headerClip
{
	align-self:center;
	
	display:flex;
	justify-content: center;
	/* header must be centered within */
	
	overflow:hidden;
		
	animation-name: curtains;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
	
	margin-bottom: 20px;
}

/* separate the clipper from the content so that contents don't move upon reveal */

.header
{
	text-align:center;
	font-size: 15px;
	font-weight: 400;
	
	color: #333;
	
	flex-grow: 0;
	flex-shrink: 0;
	
	box-sizing:border-box;
	
	padding: 10px 20px;
	width: 500px;
	/* dynamic heights won't work, having cards be the last positioned makes it not overflow hidden... */
	
	align-self:center;
	
	background-color: #fafafa;
	border-bottom: 1px solid #eeeeee;
}


.header > .right
{
	float:right;
}



.border
{
	position: abosolute;
	top:0;
	width: 100%;
	height: 100%;
	
	border: 1px solid #BDBDBD;
	z-index: 200;
}


#root > .centered
{
	position:relative;
	z-index:1001;
	
	text-align:center;
	font-size: 15px;
	line-height:15px;
	padding: 14px 0px;
	color: black;
	background-color: #FFCDD2;
}

.centered span
{
	opacity: 0.6;
}

.error:extend(#root > .centered)
{
	.fullHeight();
	
	line-height: 100vh;
	font-size: 30px;
	font-weight: 300;
	
	color: rgba(0,0,0, .7);

}
















/* ======= */





















/* ========== */

@keyframes slideIn 
{
    from 
	{
		filter: opacity(0%);
		transform: translateX(100%);
		-width:0%;
	}
    to 
	{
		filter: opacity(100%);
		transform: translateX(0%);
		-width:100%;
	}
}

.projectClip
{
	-left:100%;
	-width:0;
	right:0;
	margin-top: 128px; /* centered and navbar */
	
	position:absolute; /* need it to be included in flow */
	padding-top: 1px; /* hmm */
	
	overflow:hidden;
	display:block;
	visibility: hidden;
	-opacity:0;
	
	transition: 0.3s all ease-out;
	
	z-index:1000;
	
	backface-visibility: hidden;
}

.projectClip.selected
{
	visibility:visible;
	position:relative;
	-left:0;
	
	-opacity:1;

}

.projectClip.selected .project
{
	animation-name: slideIn;
    animation-duration: .3s;
	animation-fill-mode: backwards;
	
	/* 
		very interesting
		fill mode is backwards only because leaving a transform on any parent of a position fixed breaks the nav
	*/
	
	background-color: #fafafa;
	backface-visibility: hidden;
}

.skipTop
{
	padding-top:98px;
}

.fullWidth
{
	width: 100%;
}


.emptySpace
{
	height: 300px;
}

.project
{
	position:relative;
	
	z-index:1000;
}

@keyframes fadeUp2 
{
    from 
	{
		opacity: 0;
		transform:translateY(20px);
	}
    to 
	{
		opacity: 1;
		transform:translateY(0px);
	}
}

.project .content .page,
.project .content .right,
.project .content .title,
.project .content .narrative
{
	border-right: 1px solid #f5f5f5;
}


.project .heroImage img,
.project .content .title .titleText,
.project .content .title .description,
.project .content .title h4,
.project .content .narrative .navigator,
.project .content .narrative .narrativeText,
.project .content .narrative .fastFacts
{
    animation-name: fadeUp2;
    animation-duration: .3s;
	animation-fill-mode: backwards;
	
	animation-delay: 1s;
}

.project .content .title .titleText,
.project .content .title .description,
.project .content .title h4
{
	animation-delay: .6s;
}

.project .content .narrative .navigator,
.project .content .narrative .narrativeText,
.project .content .narrative .fastFacts
{
	animation-delay: .8s;
}

.heroImage
{
/*	positioning is needed to combat
	positioning on Backs
*/
	position:relative;
	z-index: 1;
	height: 500px;

	text-align: center;
	
	
	overflow:hidden;
	
	@media only screen and (max-width: 600px)
	{
		height: 400px; 
	}
	
	@media only screen and (max-width: 400px)
	{
		height: 300px; 
	}
}

@keyframes boxShadow 
{
    from 
	{
		box-shadow: inset 0 0 0px 0px rgba(0,0,0,.05);
	}
    to 
	{
		box-shadow: inset 0 0 20px 0px rgba(0,0,0,.05);	
	}
}


.project .boxShadow
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	
	animation-name: boxShadow;
    animation-duration: .5s;
	animation-fill-mode: both;
	
}

.heroImage .page
{
	position: relative;
	height: 100%;
}


.heroImage img
{
	max-height: 500px;
	max-width: 100%;
	
	position:absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}

.heroImage .backArrow
{
	color: white;
	opacity: .4;
	
	padding:10px;
	
	border-radius: 40px;
	
	font-size: 24pt;
	
	position:absolute;
	top: 10px;
	left: 0px;
	
	cursor: pointer;
	
	transition: .2s all ease-out;
	
	z-index: 2;
	
	background-color: rgba(0,0,0,.001);
	
	backface-visibility:hidden;
	
}

.heroImage .backArrow:hover
{
	opacity: .7;
	
	background-color: rgba(0,0,0,.1);
}

.content .page
{
	position: relative;
	z-index: 2;
}


.leftBack
{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	
	width: 50%;
		
	background-color: #fafafa;
}

.rightBack
{
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	
	width:50%;
	
	background-color:#f5f5f5;
}

.left
{
	position:absolute;
	
	left:0;
	display:inline-block;
	min-height:100%;
	
	width: 210px;
	
	-background-color: #fafafa;
}

.right
{
	position:absolute;
	right:0;
	display:inline-block;
	min-height:100%;
	
	padding: 0px 0px 0px 20px;
	box-sizing: border-box;
	
	width: 229px;
	
	background-color: #f5f5f5;
	border-left: 1px solid #e0e0e0;	
	
}

.center
{
	display:inline-block;
	min-height:100%;
	
	-width: 560px;
	padding: 0px 40px 0px 10px;
	box-sizing:border-box;

	background-color: #fafafa;
	
	@media only screen and (min-width: 1101px)
	{
		margin-left: 210px;
	}
	
	@media only screen and (max-width: 600px)
	{
		width: 100%;
		padding: 0 40px;
	}
}

.narrative, .title
{
	position: relative;
}

.project .content .narrative
{
	padding-top: 80px;

}

.title .center
{
	margin-left: 0;
	width: 100%;
}

h1
{
	margin:0;
	margin-bottom: 36px;
	
	font-size: 30pt;
	line-height:32pt;
	font-weight: 200;
	-text-shadow: 0 0 0.5px #37474F;
	
	letter-spacing: -1.9px;
	
	color: rgba(55, 71, 79, 1);
	
	text-align:center;
	
	backface-visibility:hidden;
}



h2
{
	margin:0;
	margin-bottom: 22px;
	
	font-size: 22pt;
	line-height:24pt;
	font-weight: 300;
	-text-shadow: 0 0 0.5px #37474F;
	
	letter-spacing: -1.9px;
	
	color: rgba(55, 71, 79, 1);
	
	backface-visibility:hidden;
}

h3
{
	margin:0;
	margin-bottom: 14px;
	
	font-size: 19pt;
	font-weight: 300;
	-text-shadow: 0 0 0.5px #37474F;
	
	letter-spacing: -1.3px;
	
	color: rgba(13, 71, 161, .6);
}

.titleText
{
	font-size: 32pt;
	font-weight: 300;
	
	letter-spacing: -1.7px;
	word-spacing: 3px;
	line-height: 30pt;
	
	color: rgba(55, 71, 79, .7);
	
	padding-top:50px;
	padding-bottom: 16px;
}

.title .description
{
	padding-bottom: 24px;
}

.title .center > *:last-child
{
	padding-bottom: 100px;
}

.navigator .arrow
{
	position:absolute;
}

.navigator
{
	transition: 0s all cubic-bezier(0,.99,.22,.99);
}

.arrow
{
	right:0;
	transition: margin-top .2s ease-in-out, margin-right .2s ease-in-out .2s;
	opacity: .5;
}


h2:not(:first-of-type)
{
	margin-top:120px;
}

.description,
.narrative p
{
	font-size: 14pt;
	line-height:21pt;
	font-weight: 300;
	
	letter-spacing: -.4pt;
	
	color: rgba(66, 66, 66, .75);
	
	-webkit-font-smoothing: subpixel-antialiased;
	
	backface-visibility:hidden;
	
}

/* ================== */

h4
{
	margin:0;
	
	font-size: 15pt;
	line-height: 20pt;
	font-weight: 400;
	-text-shadow: 0 0 0.5px #37474F;
	
	letter-spacing: -.5px;
	
	color: rgba(55, 71, 79, .8);
}

h4 i
{
	font-size: 14pt !important;
	line-height: 20pt !important;
	
	padding-right: 8px !important;
}

/* ============= */




/* ============ */

.narrativeText ul
{
	padding: 20px 20px 20px 44px;
	
	margin: 24px 0px;
	
	background-color: rgba(236, 239, 241, .5);
	
	border-radius: 2px;
	
	list-style-type: none;
	
	transition: .3s opacity ease-in-out;
	backface-visibility:hidden;
}


.narrativeText ul li
{
	font-size: 14pt;
    line-height: 20pt;
    font-weight: 300;
    letter-spacing: -.7px;
	color: #424242;
	opacity: .8;
    -webkit-font-smoothing: subpixel-antialiased;
	
	margin-bottom: 14px;
	text-indent: -24px;
}

.narrativeText ul li:last-child
{
	margin-bottom: 0px;
}

.narrativeText ul li:before 
{
    font-family: "FontAwesome";
	font-size:7pt;
	
	content: "\f068";
    display: block;
    float: left;
    width: 24px;
	
	opacity:.85;
}

.narrativeText ul li.listA:before
{
	font-family: "icomoon";
	
	font-size: 18pt;
	content: "\ea6d";
	
	width: 32px;
}

.narrativeText ul li.listA
{
	text-indent: -32px;
}



.narrativeText ul li.listHands:before
{
	font-family: "FontAwesome";
	
	font-size: 16pt;
	content: "\f2a7";
	
	width: 30px;
}

.narrativeText ul li.listHands
{
	text-indent: -30px;
}

.narrativeText ul li.listFund:before
{
	font-family: "FontAwesome";
	
	font-size: 16pt;
	content: "\f155";
	
	width: 27px;
}

.narrativeText ul li.listFund
{
	text-indent: -27px;
}

h2.hoverAnchor
{	
	>a
	{
		text-decoration:none;
		color: rgba(55, 71, 79, 1);
		
		@media only screen and (max-width: 600px)
		{
			&:before
			{
			content: "";
			display:block;
			padding-top: 76px;
			}
		}
		
		&:hover 	
		{ 
		color: #607D8B !important; 
		
			span:before 	{ opacity: 0.5;	}
		
		}
		&:visited	{ color: rgba(55, 71, 79, .8);}
		&:focus
		{
			outline:none;
			border-bottom: 1px solid rgba(55, 71, 79, .8);
		}
		
		span
		{
			display: inline-block;
			text-indent: -28px;
			
			@media only screen and (max-width: 600px)
			{
			text-indent: -12px;
			}
			
			&:before
			{
				font-family: "FontAwesome";
				font-size: 16pt;
				content: "\f13d";
				color: #9e9e9e;	
				
				display: block;
				float: left;
				width: 28px;
				line-height: 20pt;
				margin-top: 4px;
				opacity: 0.3;
				
				@media only screen and (min-width: 601px)
				{
				opacity: 0;
				}
				
				@media only screen and (max-width: 600px)
				{
				transform: scale(1.3);
				margin-right: -16px;
				}
			}
		}
		
		
	}
}

h1.hoverAnchor:extend(h2.hoverAnchor all)
{
	>a
	{
		span
		{
			text-indent: -36px;
			
			@media only screen and (max-width: 600px)
			{
			text-indent: -7px;
			}
			
			&:before
			{
				font-size: 18pt;
				line-height: 26pt;
				width: 36px;
				text-indent: -72px;
				
				@media only screen and (min-width: 601px)
				{
				opacity: 0;
				}
				
				@media only screen and (max-width: 600px)
				{
				transform: scale(1.3);
				margin-right: 0;
				
				width: 7px;
				text-indent: -14px;
				}
			}
		}
	}

}



.narrativeText p
{
	margin-bottom: 30px;
	
	transition: .3s opacity ease-in-out;
	backface-visibility:hidden;
}

.narrativeText hr
{
    border: 1px dashed rgba(0,0,0,.1);
    margin: 100px 40px;
}

.narrativeText p q
{
    display: block;
    margin: 20px 0px;
    padding: 10px 14px;
    border-radius: 2px;
    border-left: 6px solid rgba(0, 131, 143, .08);
    position: relative;
}

.narrativeText p q:before
{
    float: left;
    font-size: 25pt;
    margin-left: -35px;
    opacity: .7;
}

.narrativeText p q:after
{
    width: 27px;
    text-align: right;
    font-size: 25pt;
    opacity: .7;
    right: -10px;
    position: absolute;
    top: 8px;
}

.narrativeText b
{
	font-weight: 400;
}





.narrativeText .image
{
	text-align:center;
}

.narrativeText .image .imageWrapper
{
	display:inline-block;
	padding: 20px;
	border:1px solid #e0e0e0;
	background-color: #f5f5f5;
	border-radius: 2px;
}

.narrativeText .image img
{
	max-width: 480px;
	max-height: 500px;
	
	display:block; /* space under image issue */ /* http://stackoverflow.com/questions/5804256/image-inside-div-has-extra-space-below-the-image */
	
	transition: .5s all ease-in;
}

@keyframes grow 
{
    0%
	{
		transform: scale(1);
	}
    90%
	{
		transform: scale(1.05);
	}
	100%
	{
		transform: scale(1.05);
	}
}

.narrativeText .image .imageWrapper img:hover
{
	animation-name: grow;
	animation-duration:1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: forwards;
	
	cursor: nesw-resize;
}

.narrativeText .image .caption
{
	font-style:italic;
	font-weight:300;
	font-size: 12pt;
	color: rgba(0, 105, 92, .8);
	line-height: 20pt;
	margin-top:8px;
}

.narrativeText .image .overlayWrapper
{
	-display:none;
	visibility: hidden;
	
	position: fixed;
	
	top: 0; bottom: 0; right: 0;
	left: 0;
	
	margin: auto;	
	z-index: 9000;
	
	cursor: pointer;
	
	transition: .2s opacity ease-out;
}

.narrativeText .image .overlayWrapper img
{
	max-height: 100%;
	max-width: 100%;
	padding: 40px 0px;
	box-sizing: border-box;
	
	position:absolute;
	
	top: 0; bottom: 0; right: 0;
	left: 0;
	
	margin: auto;	
}

.overlayWrapper .backgroundImage
{
	background-color: rgba(0,0,0,.8);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left: 0;
	margin: auto;
	background-size: cover;
}

@keyframes spin 
{
0%		{transform: rotate(0deg);}
12.5%	{transform: rotate(45deg);}
25%		{transform: rotate(90deg);}
37.5%	{transform: rotate(135deg);}
50%		{transform: rotate(180deg);}
62.5%	{transform: rotate(225deg);}
75%		{transform: rotate(270deg);}
87.5%	{transform: rotate(315deg);}
100%	{transform: rotate(360deg);}
}

.overlayWrapper .spinner
{
	text-align:center;
	
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left: 0;
	margin: auto;	
	
	opacity: .4;
	background-color: black;
	
	transition: .2s opacity ease-in-out;
}

.overlayWrapper .spinner i
{
	font-size: 40pt;
	line-height: 40px;
	color: white;

	
	animation-name: spin;
	animation-duration:1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: forwards;
	
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -20pt;
}

.image.pulledRight 
{
	position:relative;
	-float:right;
	margin-right:-41px;
	
	text-align:right;
}

.image.pulledRight.floated .imageWrapper
{
	float:right;
	margin-left: 30px;
}



.image.pulledRight .imageWrapper
{
	border-right: 0;
	padding: 20px 0px;
	
	z-index: 1000;
	position:relative;

}

.image.pulledRight .imageWrapper img
{
	margin-right: -20px;
	margin-left: 20px;
}

div.clear
{
	clear:both;
}



.padMe
{
	padding-top: 100%;
	margin-top: -100%;
	
	position:absolute;
	bottom: 0;
	width:100%;
}

.footerWindow
{
	height: 400px;
}

.footer
{
	background-color:#006064;
	z-index:-1;
	position: fixed;
	bottom: 0;
	right:0;
	left:0;
	width:100%;
	margin: auto;
	height: 400px;
}

.footer img
{
	height: 300px;
	position:absolute;
	top:0;
	right: 0;
	
	opacity: .5;
}




/* ============================ */




