@keyframes progress 
{

	0%
	{
		background-color: @blue;
		transform:scaleX(31);
	}
	100%
	{
		background-color: @grey;
		transform:scaleX(1);
	}
}

@keyframes moveLeft
{

	0%
	{
		border-color: @blue;
		transform:translateX(-59px);
	}
	100%
	{
		border-color: @grey;
		transform:translateX(1px);
	}
}

@keyframes color
{
	0%
	{
		border-color: @blue;
	}
	100%
	{
		border-color: @grey;
	}
}

@keyframes moveLeft2
{

	0%
	{
		transform:translateX(-59px);
	}
	100%
	{
		transform:translateX(0px);
	}
}

@keyframes moveLeft3
{

	0%
	{
		transform:translateX(-59px);
	}
	100%
	{
		transform:translateX(0px);
	}
}

@keyframes undo
{
	0%
	{
	}
	
	100%
	{
		transform:scaleX(1);
	}	
}

@grey: #555555;
@blue: #607D8B;


.paginator
{
	display: flex;
	flex-flow: row nowrap;
	
	.button
	{	
		padding: 10px;
		display:block;
		
		.dot
		{
			display:flex;
			flex-flow: row nowrap;
			
			transform:translateX(0px);
			transition: transform .2s linear;
			
			.dotLeft
			{
				border: 4px solid @grey;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				border-right: 0;
				transform:translateX(1px);
			}
			
			.dotRight
			{
				border: 4px solid @grey;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				border-left: 0;
				transform:translateX(-0.3px);
			}
			
			opacity: 0.4;
			
			.dotMiddle
			{
				width: 2px;
				height: 1px;
				align-self:center;
				background-color: @grey;
			}
		}
		
		&.current .dot
		{
			opacity: 1;
			transition: opacity .2s linear;
			
			.animate
			{
				animation-fill-mode: forwards;
				animation-direction: normal;
				animation-play-state:running;
			}
			
			.dotMiddle
			{
				opacity: 1;
				height: 8px;
				background-color: @blue;
				
				animation: progress 5s .2s linear;
				
				transform-origin:right;

				.animate;
				
				transform:scaleX(30);
				transition: transform .2s linear, background-color .2s linear;
			}
			
			.dotLeft
			{
				border-color: @blue;
				
				animation: moveLeft 5s .2s  linear;

				.animate;
				
				transform:translateX(-57px);
				transition: transform .2s linear, border-color .2s linear;
			}
			
			.dotRight
			{
				border-color: @blue;
				
				animation: color 5s .2s  linear;

				.animate;

				transition: border-color .2s linear;				
			}
		}
		
		&:not(.current) .dot
		{
			.dotMiddle
			{
				height: 1px;
				transform:scaleX(1);
				transform-origin:right;
				transition: transform .2s linear, height 0s .2s linear;
			}
			
			.dotLeft
			{
				transform:translateX(2px);
				transition: transform .2s linear;
			}
			
			transform:translateX(0px);
			transition: transform .2s linear;
		
		
		}
		
		&.before0 .dot	
		{
			animation:moveLeft3 5s .2s  linear;

			animation-fill-mode: forwards;
			animation-direction: normal;
			animation-play-state:running;
			
			transform:translateX(-59px);
			transition: transform .2s linear;
		
		}
		
		&.before1 .dot	
		{
			animation:moveLeft2 5s .2s  linear;

			animation-fill-mode: forwards;
			animation-direction: normal;
			animation-play-state:running;
			
			transform:translateX(-59px);
			transition: transform .2s linear;
		
		}
		
	}

}

.movingKeyframes(@n, @i: 0) when (@i =< @n) 
{

	@moving: ~"moving@{i}";
	
	@keyframes @moving
	{
		0%, 100%
		{
			transform: scale(1);
		}
		35%, 65%
		{
			transform: scale(0.3);
		}
		80%
		{
			transform: scale(1.2);
		}
	}
		

	.movingKeyframes(@n, (@i + 1));
}

.movingKeyframes(10);

/* transition to move it
animation to scale it
everytime it has to move it's class changes
make its animationname change too
*/
/* but how to break apart translation and scale...
aha!
translate the button but scale the dot
*/
	
.animate
{
	animation-fill-mode: forwards;
	animation-direction: normal;
}


.paginator2
{
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	
	opacity: 0.7;
	.button
	{	
		padding: 14px 14px;
		display:block;
		
		transition: opacity .3s .25s ease-in-out;
		
		&:not(.current):not(.mover)
		{
			opacity: 0.3;
		}
		
		.circle
		{
			width: 8px;
			height: 8px;
			border: 2px solid @grey;
			border-radius: 8px;
		}
		.dot
		{
			.circle; /* cant extend(&.circle) 
			*/
			
			transform: scale(1);
			
			background-color: @grey;
		}
		
		&.mover
		{
			position: absolute;
			left: 0;
			
			transition: transform 0.1s 0.25s cubic-bezier(0.61, 0, 0.99, 0.61);
			
			.dot:extend(.animation)
			{
				animation-duration: .6s;
				animation-timing-function: ease-in;
			}
		}
		
		.movingTargets(@n, @i: 0) when (@i =< @n) 
		{
			&.moving@{i} 
			{				
				transform: translateX(@i *  100%);
				
				.dot:extend(.animation)
				{
					animation-name: ~"moving@{i}";
				}
			}
			
			.movingTargets(@n, (@i + 1));
		}
		.movingTargets(10);
		
		
	}
	

}